:root {
    background-color: lightgoldenrodyellow
}

h2 {
    color: lightcoral
}

p,
li {
    color: lightskyblue
}

tr {
    width: 50px;
    color: lightskyblue;
    background-color: lightslategray
}