// styles applied on :host are applied on the current component, "app" in this case
:host {
    display: block;
}

$column: 50%;
header {
    background-color: #fff;
    padding: 16px;
    position: fixed;
    top: 0;
    left: 0;
    width: calc(2 * $column);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

main {
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
    display: block;
}

footer {
    text-align: center;
    font-size: 0.8em;
}

//homepage css
.offset-div {
    background-color: whitesmoke;
    height: 115px;
}

.header-container {
    height: 70px;
    margin-bottom: 20px;
}

.title {
    margin: 0px 0px 0px 190px;
    padding: 10px;
}

.header {
    background-color: deepskyblue;
    font-size: 24px;
    height: 50px;
    color: white;
}

.main-content {
    margin-left: 210px;
    width: 70%;
    height: 60%;
    background-color: white;
}

.filter {
    z-index: 2;
    top: -60px;
    left: 897px;
    text-align: left;
}